@font-face {
  font-family: "Anonymous_Pro";
  src: local("Anonymous_Pro"), url(./fonts/Anonymous_Pro.ttf) format("truetype");
}
@font-face {
  font-family: "Anonymous_Pro";
  font-weight: 900;
  src: local("Anonymous_Pro"),
    url(./fonts/Anonymous_Pro_B.ttf) format("truetype");
}

h1 {
  font-family: Anonymous_Pro;
}

.top {
  width: 100%;
  height: 75px;
  background-color: gray;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topLeft img {
  height: 70px;
  max-height: 100%;
  align-self: auto;
  float: left;
}
.topLeft p {
  font-family: Anonymous_Pro;
  font-weight: bold;
  font-size: 27px;
  width: 40%;
  float: left;
}

.navbarList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbarListItem {
  margin-right: 25px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.home-main {
  margin: 0 auto;
  width: 70%;
}
.formbuilder-text,
.formbuilder-text-label {
  padding: 1rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.center {
  margin: auto;
  width: 60%;
  border: 2px solid black;
  background-color: rgb(150, 150, 150);
  border-radius: 6px;
  text-align: left;
  padding: 10px;
}
.ticket {
  font-size: 10px;
  width: 40%;
  border: 2px solid black;
  background-color: rgb(150, 150, 150);
  border-radius: 6px;
  padding: 12px 20px;
  text-align: left;
  margin: 10px;
}
.tickets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ticket p {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.ticket button {
  margin: 2px;
  background-color: rgb(129, 70, 240);
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}
.ticket button:hover {
  background-color: rgb(129, 70, 200);
}
.ticket button.delete {
  background-color: rgb(238, 67, 55);
}
.ticket button.delete:hover {
  background-color: rgb(223, 57, 45);
}
